<div class="h-screen w-full">
  <div class="bg-image bg-center bg-no-repeat bg-cover h-full">
    <div class="flex flex-column w-full align-items-center h-full text-white font-italic top-margin">
      <span class="pb-8 text-8xl">What's in your food?</span>
      <span class="text-5xl">Learn about calorie count, nutrition information and serving size</span>
      <button pButton type="button" label="Start Your Journey Today" class="p-button-secondary w-17rem mt-8 text-white font-italic text-xl"></button>
    </div>
  </div>
  <div class="bg-black-alpha-10 h-screen">

  </div>
</div>

